<% layout('layout/post') %>
<div class="card mb-3">
  <div class="d-grid gap-2 card-body">
    <a class="btn btn btn-outline-secondary" type="button" href="/posts/new">Create Post</a>
  </div>
</div>

<% for (let post of posts) { %>
<div class="card mb-3">
  <div class="card-body">
    <% if (post.images.length) { %>
    <div class="bg-secondary mb-2">
      <img src="<%= post.images[0].url %>" class="d-block mx-auto img-fluid" alt="..." />
    </div>
    <% } %>
    <h5 class="card-title">
      <a href="/posts/<%= post._id %>"> <%= post.title %> </a>
    </h5>
    <p class="card-text"><%= post.description %></p>
    <p class="card-text text-muted">
      Posted by:
      <a href="/profile/<%= post.author._id %>"><%= post.author.username %></a>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted">
      Comments: <%= post.comments.length %>
    </li>
    <li class="list-group-item text-muted">Category: <%= post.category %></li>
  </ul>
</div>
<% } %>