<% layout('layouts/home') %>

<div class="card mb-3">
  <div class="card-body">
    <a class="btn btn btn-outline-dark w-100" type="button" href="/posts/new">Create Post</a>
  </div>
</div>

<% for (let post of posts) { %>
<div class="card mb-3">
  <div class="card-body">
    <% if (post.images.length) { %>
    <div id="carouselExampleControls" class="carousel slide mb-3 bg-dark" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% post.images.forEach((image, index)=> { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img src="<%= image.url %>" class="d-block mx-auto img-fluid" alt="..." />
        </div>
        <% }) %>
      </div>
      <% if (post.images.length > 1) { %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
    <% } %>
    <a class="fs-4 d-inline-block" href="/posts/<%= post._id %>"> <%= post.title %> </a>
    <div class="text-muted mb-3">
      Posted by:
      <a href="/profile/<%= post.author._id %>"><%= post.author.username %></a>
    </div>
    <div class="mb-3"><%= post.description %></div>
    <div class="d-flex text-muted">
      <div>Category: <%= post.category[0].toUpperCase() + post.category.slice(1) %></div>
      <div class="ms-3">Comments: <%= post.comments.length %></div>
    </div>
  </div>
</div>
<% } %>